*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/e68266e7f45840028730e1948d943fb1.jpeg')
    no-repeat left top/cover;
}
